<div class="container mt-5">
    <div class="row text-center">
        <div class="col-md-4 feature">
            <img src="/assets/img/book1.png" alt="Colección" class="img-fluid w-50" />
            <div class="feature-text">
                <h5>Amplia colección</h5>
                <p>Accede a una extensa colección de libros y recursos en diversos formatos.</p>
            </div>
        </div>
        <div class="col-md-4 feature">
            <img src="/assets/img/book2.png" alt="Préstamo" class="img-fluid w-50" />
            <div class="feature-text">
                <h5>Servicios de préstamo</h5>
                <p>Presta libros y otros materiales por el tiempo que necesites.</p>
            </div>
        </div>
        <div class="col-md-4 feature ">
            <img src="/assets/img/book3.png" alt="Información" class="img-fluid w-50" />
            <div class="feature-text">
                <h5>Información y consultas</h5>
                <p>Para consultas, puedes contactarnos</p>
                <a href="tel:123456789">123-456-789</a>
            </div>
        </div>
    </div>
</div>
