<div class="container mt-5">
    <div class="row g-3">
        <div class="col-md-4">
            <div class="card category-card position-relative overflow-hidden">
                <img src="/assets/img/novela.jpg" class="img-fluid" alt="Novelas">
                <div class="card-img-overlay d-flex align-items-end p-0">
                    <div class="bg-dark bg-opacity-50 w-100 p-3">
                        <h5 class="text-white">Novelas</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card category-card position-relative overflow-hidden">
                <img src="/assets/img/fantasia.jpeg" class="img-fluid" alt="Fantasía">
                <div class="card-img-overlay d-flex align-items-end p-0">
                    <div class="bg-dark bg-opacity-50 w-100 p-3">
                        <h5 class="text-white">Fantasía</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card category-card position-relative overflow-hidden">
                <img src="/assets/img/ficcion.png" class="img-fluid" alt="Ciencia Ficción">
                <div class="card-img-overlay d-flex align-items-end p-0">
                    <div class="bg-dark bg-opacity-50 w-100 p-3">
                        <h5 class="text-white">Ciencia Ficción</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card category-card position-relative overflow-hidden">
                <img src="/assets/img/cuentos.jpg" class="img-fluid" alt="Cuentos infantiles">
                <div class="card-img-overlay d-flex align-items-end p-0">
                    <div class="bg-dark bg-opacity-50 w-100 p-3">
                        <h5 class="text-white">Cuentos infantiles</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card category-card position-relative overflow-hidden">
                <img src="/assets/img/popular.jpg" class="img-fluid" alt="Todos los Libros Populares">
                <div class="card-img-overlay d-flex align-items-end p-0">
                    <div class="bg-dark bg-opacity-50 w-100 p-3">
                        <h5 class="text-white">Todos los Libros Populares</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
